.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navbarContents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0px 6.25vw 0px 6.25vw;
	gap: 2rem;
	margin-top: 24px;
	/* border: 1px solid black; */
}

.searchbar {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	width: 47.2vw;
	min-width: 350px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 10px;
	/* opacity: 0.2; */
	background: #FFF;
	padding: 10px 14px 10px 14px;

	/* 투명버튼 */
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.083);

}

.searchbarMagnifying {
	margin-right: 14px;
}

.searchbarText {
	color: #B2B2B2;
	width: 80%;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.5px;
	/* border: 1px solid black; */

}

.vector2 {
	height: 38px;
	flex-shrink: 0;
	stroke-width: 1px;
	stroke: #FFF;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.50));
}

.searchbarSelect {
	margin-left: 24px;
}


.broove_logo {
	width: 194px;
	height: 100%;
	cursor: pointer;
}

.logo_right {
	display: flex;
	justify-content: center;
	align-items: center;

}

/* border: 1px solid black; */

.wallet {
	border: 1px none;
	height: 28px;
	/* position: relative; */
	width: 28px;
	margin-right: 152px;
}


.KaikasConnect {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12.98vw;
	min-width: 187px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 10px;
	margin-left: 12px;
	margin-right: 8px;
	/* opacity: 0.2; */
	background: var(--unnamed, linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%));

	/* 투명버튼 */
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.083);

}

.mypage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 10px;
	/* opacity: 0.2; */
	background: var(--unnamed, linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%));
	/* border: 1px solid black; */
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.083);


}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.subnavbar {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

}

.subnavbarcontents {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0px 6.25vw 0px 6.25vw;
	/* gap: 2rem; */
	margin-top: 30px;

}



.contents {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 34px;
	padding: 8px 10px 8px 10px;
	flex-shrink: 0;
	border-radius: 10px;
	margin-right: 20px;
	/* border: 1px solid black; */


}

.contents:hover {
	background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

	/* 투명버튼 */
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.083);
}


.contentstext {
	color: #000;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	/* border: 1px solid black; */

}

.uploadContainer {

	flex-direction: column;

}

.uploadOptions {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.uploadOptions:hover {
	background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

	/* 투명버튼 */
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.083);
}