.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 2rem;
	margin-bottom: 4rem;
	/* border: 1px solid black; */
}

.navbarContents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0px 88px 0px 88px;
	gap: 2rem;
	margin-top: 24px;
	border: 1px solid black;
}

.searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 680px;
	height: 100%;
	border: 1px solid black;
}


.broove_logo {
	width: 194px;
	height: 34px;
	cursor: pointer;
}

.screen {
	border: 1px none;
	height: 28px;
	position: relative;
	width: 28px;
}

.screen .vector {
	height: 24px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 24px;
}

.wallet {
	border: 1px none;
	height: 28px;
	position: relative;
	width: 28px;
  }
  
  .wallet .vector {
	height: 20px;
	left: 3px;
	position: absolute;
	top: 4px;
	width: 23px;
  }
  

  .KaikasConnect {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 143px;
	height: 100%;
	border: 1px solid black;
}
